@mixin centerPosition {
  display: flex;
  align-items: center;
}

@mixin spaceBetweenPosition {
  display: flex;
  justify-content: space-between;
}

@mixin noBorder {
  outline: none;
  border: none;
  cursor: pointer;
}
